#* MAXCHUNKS defines the maximum number of memory chunk which may be allocated
#* The size of the chunks is configurable with the server (see chunksize).
#*
#* The header may be large in some cases like POST multipart/form-data messages.
#* But it could be an attack by memory overflow. The value of MAXCHUNKS_HEADER
#* has to be correctly set (4 is to small, 8 seems to large for embeded target)
#*
#* The content may be larger than 3 chunks. But httpserver send chunk by chunk
#* the content. It may exist one case, it is a module (not of the currently modules
#* available) which want to way the end of the content before to send.
#* This may be done with a connector which returns EINCOMPLETE.
#* If a new module uses this feature and needs more than 3 chunk before
#* to send, the value MAXCHUNKS_CONTENT has to be increased.
MAXCHUNKS_HEADER=12
MAXCHUNKS_CONTENT=3
MAXCHUNKS_SESSION=2
MAXCHUNKS_URI=2
HTTPMESSAGE_CHUNKSIZE=64

STATIC=y
SHARED=y
VTHREAD=y
VTHREAD_TYPE=fork
HTTPCLIENT_FEATURES=n
HTTPMESSAGE_NODOUBLEDOT=n

LIBWEBSOCKET=y
MAXWEBSOCKETS=10

LIBURI=n

LIBHASH=y
MBEDTLS=y
OPENSSL=n
WOLFSSL=n
LIBB64=y

LIBUTILS=y

USE_STDARG=y
USE_PTHREAD=n
USE_POLL=y
USE_REENTRANT=y
USE_IPV6=n
