MODULES=n
STATIC=y
SHARED=y
VTHREAD=y
VTHREAD_TYPE=fork
HTTPCLIENT_FEATURES=n
LIBWEBSOCKET=y
LIBURI=y
#modules
LIBHASH=y
LIBUTILS=y
LIBB64=y
MBEDTLS=y
WOLFSSL=n
OPENSSL=n
WEBSOCKET=y
COOKIE=y

#LIBB64_VERSION=1.2.1
LIBB64_DIR=$(srcdir)libb64$(LIBB64_VERSION:%=-%)
LIBMD5_DIR=$(srcdir)md5-c
LIBSHA1_DIR=$(srcdir)libsha1

USE_STDARG=y
USE_PTHREAD=n
USE_POLL=y
USE_IPV6=n
