STATIC=y
SHARED=y
VTHREAD=y
VTHREAD_TYPE=fork
HTTPCLIENT_FEATURES=n
HTTPMESSAGE_NODOUBLEDOT=n
LIBWEBSOCKET=y
LIBURI=n

LIBHASH=y
MBEDTLS=y
OPENSSL=n
WOLFSSL=n
LIBB64=y

LIBUTILS=y

#LIBB64_VERSION=1.2.1
LIBB64_DIR=$(srcdir)src/libb64$(LIBB64_VERSION:%=-%)
LIBMD5_DIR=$(srcdir)src/md5-c
LIBSHA1_DIR=$(srcdir)src/libsha1

USE_STDARG=y
USE_PTHREAD=n
USE_POLL=y
USE_REENTRANT=y
USE_IPV6=n
